<body>
<div class="container">
  <div class="frame">
    <div class="nav text-center d-inline-block">
      <p class="signin-active"><a class="btn text-danger">Tài khoản của bạn đã hết hạn quá 30 ngày nên yêu cầu đổi mật khẩu</a></p>
      <p class="signin-active"><a class="btn text-success">{{username}}</a></p>
    </div>
    <div>
      <form class="form-signin" [formGroup]="formPassword" (ngSubmit)="changePassword()">
        <div class="mb-4">
          <label for="username" class="text-warning">Mật khẩu mới.</label>
          <input id="username" class="form-styling mb-1" type="password" formControlName="newPassword" placeholder=""/>
          <small *ngIf="formPassword.get('newPassword')?.hasError('required')
                        && (formPassword.get('newPassword')?.pristine || formPassword.get('newPassword')?.dirty)"
                 class="text-danger ml-2 d-block">
            * Yêu cầu nhập mật khẩu mới.</small>
          <small *ngIf="(formPassword.get('newPassword')?.hasError('minlength') || formPassword.get('newPassword')?.hasError('maxlength'))
                        && formPassword.get('newPassword')?.dirty" class="text-danger ml-2 d-block">
            * Mật khẩu ít nhất 8 kí tự và tối đa 20 kí tự.</small>
        </div>
        <div class="mb-4">
          <label for="password" class="text-warning">Nhập lại mật khẩu</label>
          <input id="password" class="form-styling mb-1" type="password" formControlName="repeatNewPassword"
                 placeholder=""/>
          <small *ngIf="formPassword.get('repeatNewPassword')?.hasError('required')
                        && (formPassword.get('repeatNewPassword')?.pristine || formPassword.get('repeatNewPassword')?.dirty)"
                 class="text-danger ml-2 d-block">* Yêu cầu nhập lại mật khẩu.</small>
          <small *ngIf="formPassword.controls.repeatNewPassword.dirty && formPassword.errors?.checkPassWord"
                 class="text-danger ml-2 d-block">* Mật khẩu chưa khớp.</small>
        </div>
        <button class="btn-animate" [disabled]="formPassword.invalid"><a class="btn-signin text-light">Cập nhật</a>
        </button>
      </form>
    </div>
  </div>
</div>
</body>
